section{
  height: 100%;
  padding: 150px 0;
}

#intro{
  background: #345c72;
}

#courts{
  background: #345c72;
  /* background-image: url(/assets/courts.jpg) */
}

#aboutUs{
  background: #345c72;
  /* background-image: url(/assets/azmanHashim.jpg) */
}

#login{
  background: #345c72;
}

#register{
  background: #345c72;
}